    <div class="container" ng-controller="DishDetailController">
        <div class="row row-content">
            <div class="col-xs-12">
				<button class="btn btn-xs btn-primary pull-right"
                    type="button" ui-sref="app.menu">
                    Back to Menu
                </button>
                <div class="media">
					<div class="media-left">
						<a href="#">
							<img class="media-object img-thumbnail" ng-src={{dish.image}} alt="Uthapizza">
						</a>
					</div>
					<div class="media-body">
                            <h2 class="media-heading">{{dish.name}}
                                <span class="label label-danger">{{dish.label}}</span>
                                <span class="badge">{{dish.price | currency}}</span></h2>
                            <p>{{dish.description}}</p>
                    </div>
				</div>
            </div>
            <div class="col-xs-9 col-xs-offset-1">
                <blockquote ng-repeat="comment in dish.comments">
					<p>{{comment.rating}}&nbsp;&nbsp;Stars</p>
					<p>{{comment.comment}}</p>
					<footer>{{comment.author}}, {{comment.date | date: 'MMM. dd, yyyy'}}</footer>
				</blockquote>
            </div>
            <div class="col-xs-9 col-xs-offset-1" ng-controller="DishCommentController">
                    <ul class="list-unstyled" ng-show="commentForm.$valid && commentForm.$pristine">
						<blockquote>
							<p>{{comment.rating}}&nbsp;&nbsp;Stars</p>
							<p>{{comment.comment}}</p>
							<footer>{{comment.author}}, {{comment.date | date: 'MMM. dd, yyyy'}}</footer>
						</blockquote>
                    </ul>
                <form class="form-horizontal" name="commentForm" ng-submit="submitComment()" novalidate>
					<div class="form-group" ng-class="{'has-error has-feedback':commentForm.yourname.$error.required && !commentForm.yourname.$pristine}">
						<label for="yourname" class="col-sm-2 control-label">Your Name</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" id="yourname" name="yourname" placeholder="Enter your name" ng-model="commentObj.author" required>
							<span ng-show="commentForm.yourname.$error.required && !commentForm.yourname.$pristine">Your name is required</span>
						</div>
					</div>
					<div class="form-group">
						<label for="stars" class="col-sm-2 control-label">Number of Stars</label>
						<div class="col-sm-10 radio radio-inline">
							<label class="radio-inline">
								<input type="radio" name="inlineRadioOptions" id="inlineRadio1" ng-model="commentObj.rating" value="1"> 1
							</label>
							<label class="radio-inline">
								<input type="radio" name="inlineRadioOptions" id="inlineRadio2" ng-model="commentObj.rating" value="2"> 2
							</label>
							<label class="radio-inline">
								<input type="radio" name="inlineRadioOptions" id="inlineRadio3" ng-model="commentObj.rating" value="3"> 3
							</label>
							<label class="radio-inline">
								<input type="radio" name="inlineRadioOptions" id="inlineRadio4" ng-model="commentObj.rating" value="4"> 4
							</label>
							<label class="radio-inline">
								<input type="radio" name="inlineRadioOptions" id="inlineRadio5" ng-model="commentObj.rating" value="5" checked> 5
							</label>
						</div>
					</div>
					<div class="form-group" ng-class="{'has-error has-feedback':commentForm.comments.$error.required && !commentForm.comments.$pristine}">
						<label for="comments" class="col-sm-2 control-label">Your Comments</label>
						<div class="col-sm-10">
						<textarea class="form-control" id="comments" name="comments" rows="12" ng-model="commentObj.comment" required></textarea>
						<span ng-show="commentForm.comments.$error.required && !commentForm.comments.$pristine">You forgot to review/comment on the dish</span>
						</div>
					</div>
					<div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit" class="btn btn-primary" ng-disabled="commentForm.$invalid">Submit Comment</button>
                        </div>
                    </div>
				</form>
            </div>
        </div>
    </div>
